@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 0;
  background-color: #360830;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #360830;
  color:#e5e7eb;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-text img {
  width: 500px;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  background-color: #360830;
  padding: 100px;
}

.hero-text .main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 12px;
}

.hero-text .secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

button {
  color: #f9faf8;
  background-color: #e12c2c;
  border: none;
  border-radius: 8px;
  padding: 7px 32px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.boxes-section {
  text-align: center;
  padding: 50px 100px 100px 100px;
}

.title {
  font-size: 36px;
  color: #360830;
  font-weight: 900;
  margin-bottom: 50px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  gap: 8px;
}

.box img {
  border: 3px solid #e12c2c;
  border-radius: 8px;
  height: 150px;
  width: 150px;
}

.quote-section {
  background-color: #e5e7eb;
  color: #360830;
  font-size: 36px;
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 728px;
}

.quote .text {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 32px;
}

.final {
  font-weight: bold;
  text-align: center;
}

.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.sign-up {
  background-color: #e12c2c;
  display: flex;
  align-items: center;
  padding: 32px 100px;
  gap: 50px;
  border-radius: 8px;
}


.sign-up .text {
  color:#f9faf8;
}

.sign-up .main {
  font-size: 24px;
  font-weight: 900;
}

.sign-up .secondary {
  font-size: 18px;
}

.sign-up-section button {
  border: 1px solid #f9faf8;
}

p {
  margin: 0;
}

em {
  font-size: 14px;
}